@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@600&display=swap');

:root {
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --font-normal: 400;
    --font-regular: 600;
    --font-bold: 700;

    --heading-font: 'Poppins';
    --body-font:'Open Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: 15px;
    color: var(--Grayish-Blue);
    /*max-width: 19.5rem;
    margin: 1rem auto;*/
}

h1,
h2,
h3 { 
    font-family: var(--heading-font); 
    font-size: 20px;
    color: var(--Very-Dark-Cyan);
    font-weight: 700;
}

button { 
    cursor: pointer;
    border: none; 
}

a { 
    text-decoration: none; 
    color: var(--Grayish-Blue);
    font-size: 13px;
}

.header {
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Very-Pale-Cyan);
    padding: 0.6rem 1.5rem 1rem;
    display: grid;
    gap: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img { max-width: 7rem; }

.nav-btn {
    background: white;
    padding: 5px 20px;
    border-radius: 1rem;
    font-size: 11px;
}

.main {
    max-width: 20rem;
    margin: 1rem auto;
}

.main-content {
    display: grid;
    gap: 1rem;
    text-align: center;
    /*max-width: 20rem;
    margin: 0 auto;*/
}

.header-text { color: var(--Very-Dark-Cyan); }

.header-btn {
    background-color: hotpink;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    /* margin: 0 3.5rem 1rem; */
    width: 12rem;
    margin: 0 auto;
}

.header-btn:hover,
.box-btn:hover {
    background-color: lightgrey;
}

.header-img {
    width: 100%;
    margin-top: 10px;
}

/*.img {
    max-width: 20rem;
    text-align: center;
    margin-top: 1rem;
}*/

.grid-img-section {
    max-width: 20rem;
    margin: 0 auto;
}

.column-grid {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid var(--Very-Pale-Cyan);
    padding: 1rem;
    box-shadow: 3px 1px 4px 1px lightgray;
    border-radius: 1rem;
    text-align: center;
}

.column-content {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
}

.column-img { max-width: 15rem; }

.box {
    max-width: 22rem;
    margin: 0 auto;
    text-align: center;
    padding: 1.8rem 0.2rem;
    box-shadow: 3px 1px 5px 1px var(--Grayish-Blue);
    border-radius: 0.9rem;
    position: relative;
    top: 4rem;
    background-color: white;
}

.box-btn {
    background-color: hotpink;
    padding: 0.5rem 2rem;
    margin-top: 5px;
    color: white;
    border-radius: 1rem
}

.footer {
    background: var(--Very-Dark-Cyan);
    padding: 6rem 2rem 2rem;
}

.footer-grid {
    display: grid;
    gap: 1.4rem;
}

.footer-content { 
    margin-top: 1.6rem;
    display: grid;
    gap: 1rem;
    font-size: 14px;
}

.info {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.icons {
    text-align: center;
    margin-bottom: 1rem;
}

#icon {
    margin: 0 10px;
    border: 1px solid var(--Very-Pale-Cyan);
    color: var(--Very-Pale-Cyan);
    padding: 0.3rem;
    border-radius: 50%;
}

#icon:hover { 
    color: hotpink; 
    border: 1px solid hotpink;
}

.footer-text,
.footer-info {
    text-align: center;
    font-size: 12px;
}

@media (min-width: 768px) {
    .header {
        background-image: url(images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        gap: 2rem;
        padding: 1rem 2rem;
    }

    .header-img { width: 50%; }

    .main {
        display: flex;
        align-items: center;
        max-width: 48rem;
        margin: 1rem auto;
        gap: 2rem;
    }

    .main-content {
        text-align: start;
    }

    .header-btn { margin: 0; }

    .grid-img-section { max-width: 45rem; }

    .column {
        flex-direction: row;
        gap: 5rem;
        align-items: center;
        text-align: start;
    }

    .box { max-width: 30rem; }

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline
    }

    .footer-list {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: 3rem;
    }

    .footer-text,
    .footer-info { text-align: end; }
}

@media (min-width: 1024px) {
    .logo-img {max-width: 12rem; }

    .header-img { width: 60%; }

    .main,
    .grid-img-section { max-width: 60rem; }

    .footer { padding: 6rem 4rem 2rem; }

    .footer-list { margin-left: 11rem; }
}
